body{
    margin: 0 5% 0 5%
}

#header{
    background-color: rgb(226, 200, 165);
    margin: 50px 0 50px 0;
    font-family: "Hubballi", sans-serif;
}

#nameAndTitle{
    background-color: #FFF;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

#nameAndTitle h1, h2{
    margin: 0;
}

h1, h2, h3{
    text-transform: uppercase;
}

#contact{
    list-style-type: none;
}

#contact i{
    width: 30px;
    color: rgb(226, 200, 165);
}

#container{
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 20px;
}

#sidebar, #content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.card h3{
    font-family: "Hubballi", sans-serif;
}

.card{
    font-family: "Montserrat", sans-serif;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 15px;
    padding: 20px;
}

